{{!-- <header>
  <h1 class="mainTitle">{{appName}}</h1>
  <nav class="navbar">
    <ul class="nav-links">
      {{#each navLinks}}
      <li><a href="{{href}}">{{text}}</a></li>
      {{/each}}
    </ul>
  </nav>
</header> --}}

{{!-- <header>
  <h1 class="mainTitle">{{appName}}</h1>
  {{#unless (eq role "job_seeker")}}
  <nav class="navbar">
    <ul class="nav-links">
      {{#each navLinks}}
      <li><a href="{{href}}">{{text}}</a></li>
      {{/each}}
    </ul>
  </nav>
  {{/unless}}
</header> --}}

{{#unless (eq role "job_seeker")}}
<nav class="navbar">
  <ul class="nav-links">
    {{#each navLinks}}
      {{#unless (eq text "Job Seeker")}} <!-- hide "Job Seeker" -->
      <li><a href="{{href}}">{{text}}</a></li>
      {{/unless}}
    {{/each}}
  </ul>
</nav>
{{/unless}}

<section class="container" id="employer">
  {{#each cards}}
  <div class="card employer-card">
    <h2 id="{{titleId}}">{{title}}</h2>
    {{#each buttons}}
    <a href="{{href}}" class="button" id="{{id}}" title="{{titleAttr}}">{{label}}</a>
    {{/each}}
  </div>
  {{/each}}
</section>
