<header>
    <h1 class="mainTitle">{{appName}}</h1>
    <nav class="navbar">
        <ul class="nav-links">
            {{#each navLinks}}
            {{#unless (eq text "Job Seeker")}}
            <li><a href="{{href}}">{{text}}</a></li>
            {{/unless}}
            {{/each}}
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Post New Job</h1>
    <form id="jobForm" method="post" action="/employer/showPostNewJob/postNewJob">
        <label>Job Title</label>
        <input type="text" name="title" placeholder="Job Title (required)" required><br><br>

        <label>Job Description</label><br>
        <textarea name="description" rows="4" cols="50" placeholder="Job Description (required)"
            required></textarea><br><br>

        <label>Job Location</label>
        <input type="text" name="location" placeholder="Job Location (required)" required><br><br>

        <label>Job Type</label><br>
        <select name="type_id" required>
            <option value="" disabled selected>Select Job Type</option>
            {{#each jobTypes}}
            <option value="{{type_id}}">{{type_name}}</option>
            {{/each}}
        </select>
        <br><br>

        <label>Work Style</label><br>
        <select name="work_style" required>
            <option value="full-time">Full-time</option>
            <option value="part-time">Part-time</option>
            <option value="remote">Remote</option>
            <option value="hybrid">Hybrid</option>
        </select>
        <br><br>

        <input type="hidden" name="status" value="Open">

        <button type="submit">Post Job</button>
        <button type="reset">Reset</button><br><br>
    </form>

</div>