<header>
  <h1 class="mainTitle">{{appName}}</h1>
  <nav class="navbar">
    <ul class="nav-links">
      {{#each navLinks}}
      {{#unless (eq text "Employer")}}
      <li><a href="{{href}}">{{text}}</a></li>
      {{/unless}}
      {{/each}}
    </ul>
  </nav>
</header>

<main class="jobs-container">
  <h1>Saved Jobs</h1>

  <section class="saved-job-list">
    {{#if savedJobs.length}}
    {{#each savedJobs}}
    <article class="job-card">
      <div class="job-info">
        <h2>{{title}}</h2>
        <p><strong>Location:</strong> {{location}}</p>
        <p><strong>Type:</strong> {{type_name}}</p>
        <p><strong>Level:</strong> {{level}}</p>
        <p><strong>Work Style:</strong> {{work_style}}</p>
        <p><strong>Date Saved:</strong> {{requestDate}}</p>
        <p><strong>Company:</strong> {{company_name}}</p>
        <p><strong>Description:</strong> {{description}}</p>
      </div>

      <div class="job-actions">
        <form action="/job-seeker/savedJobs/remove/{{job_id}}" method="POST" class="remove-saved-job-form">
          <button type="submit" class="remove-btn">Remove</button>
        </form>
      </div>
    </article>
    {{/each}}
    {{else}}
    <p>No saved jobs found.</p>
    {{/if}}
  </section>
</main>